/* global rules */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
:root {
    --main-padding: 15px;
    --main-color: #9e49cf;
    --main-margin: 100px;
    --main-transition: 0.3s;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.container {
    padding-left: var(--main-padding);
    padding-right: var(--main-padding);
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}
.header {
    background-color: rgb(255, 255, 255);
    position: relative;
    -webkit-box-shadow: 0 0 10px #DDD;
    -moz-box-shadow: 0 0 10px #DDD;
    box-shadow: 0 0 10px #DDD;
    position: fixed;
    width: 100%;
    height: 49.55px;
    z-index: 99;
}
.header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9e49cf;
    font-weight: bold;
    font-size: 20px;
    flex-direction: column;
    letter-spacing: 2px;
}
.header .logo span {
    letter-spacing: 3px;
}
.header .container {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.header .navbar {
    background-color: rgb(255, 255, 255);
    margin-left: 411px;
}
@media (max-width: 991px) {
    .header .navbar {
        margin-left: auto;
    }
}
.header .navbar ul {
    display: flex;
    background-color: rgb(255, 255, 255) ;
    padding: 0px 0px;
}
.header .navbar ul li {
    padding: 15px 0px;
    background-color: rgb(255, 255, 255);
    position: relative;
    height: 49.55px;
}
.header .navbar ul li::before {
    content: "";
    position: absolute;
    height: 4px;
    background: #9e49cf;
    left: 0;
    top: 0;
    width: 0%;
}
.header .navbar ul li:hover::before {
    width: 100%;
    transition: width 0.3s;
}
/* .header .navbar ul li:hover {
    background-color: black;
} */
.header .navbar ul li a {
    color: #9e49cf;
    font-weight: 500px;
    padding: 15px 20px;
    font-size: 17px;
    background-color: rgb(255, 255, 255);
}
.header .navbar ul li i {
    margin-right: 10px;
}
.landing {
    height:100vh;
    overflow: hidden;
    position: relative;
}
.landing img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.landing::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #9e49cf;
    opacity: 0.93;
}
.landing i {
    border: 3px solid rgba(255, 255, 255, 0.455);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -250%);
    color: rgba(255, 255, 255, 0.377); 
    background-color: rgba(255, 255, 255, 0.133);
    font-size: 38px;
    z-index: 2;
}
.landing .text h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);
    color: rgb(255, 255, 255); 
    font-size: 30px;
    font-weight:400;
}
